@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

#weatherCards{ 
    justify-content: center;
    display: flex;
    font-family:'Bebas Neue', cursive;
    margin-top: 20px;
}