body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: url('https://media0.giphy.com/media/4HmjAbzArpLqYvwWYb/giphy.gif?cid=ecf05e47240fms026vhxjamjzdnjzvosg99i4wn3b0pyjqqd&rid=giphy.gif&ct=g') no-repeat;
  background-size:cover;
  background-attachment: fixed; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
